
.social-menu{
    margin-bottom: 15px;
}
.social-menu li{
    font-size: 25px;
    width: 60px;
    height: 60px;
    line-height: 30px;
    padding: 10px 15px;
    cursor: pointer;
    transition: .7s;
    
}
.social-menu li i{
    background: rgb(134, 134, 98);
    padding: 10px;
    color: #fff;
    border-radius: 50%;
    transition: 1s;
}
.social-menu li:hover i{
    transform: rotate(360deg);
}
.social-menu li:hover{
    transform: scale(1.1, 1.1);
}